.title-bar{
  font-weight: 600;
  font-size: 4.5rem;
  color: yellow;
  background-color: rgb(101, 101, 255);
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  margin: 0;

}

@media only screen and (max-width: 1390px){
  .title-bar{
    font-size: 3rem;
  }
}
